<div>
  <h4><a href="{{.RelPermalink}}">{{ .Title }}</a></h4>
  <time>{{ .Date.Format "January, 2 2006" }}</time>
  <p>{{ .Description }}</p>
  <a href="{{ .RelPermalink }}" class="o_button">Read</a>
</div>
