{{ define "main" }}
<section class="c_project c_projects--{{ .File.TranslationBaseName }}">
  {{ partial "img-or-svg" . }}

  <h1>{{ .Title }}</h1>

  {{ if .Param "repo" }}
  <a href="{{ .Param "repo" }}" class="o_button" target="_blank">Source code {{ readFile "static/images/logos/git.svg" | safeHTML }}</a>
  {{ end }}

  {{ partial "tags" (dict "context" . "taxonomy" "categories") }}

  {{ .Content }}
</section>
{{ end }}
