html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "OpenSans", sans-serif;
  background-color: color(white);
  color: color(black);
  font-size: 16px;

  > * {
    padding: 0 20px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "ZillaSlab", serif;
  margin-top: 0;
}

h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 { font-size: 40px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; margin-bottom: 16px; }
h5 { font-size: 16px; }
h6 { font-size: 12px; }

pre, code {
  font-family: "Inconsolata", monospace;
}

p {
  margin-top: 0;
}

table {
  border-collapse: collapse;
}

a {
  text-decoration: none;
  color: color(lavender);
  &:visited {
    color: color(lavender);
  }

  svg {
    color: color(black);
  }

  &:hover {
    color: lighten(color(lavender), 10%);

    svg {
      color: lighten(color(black), 10%);
    }
  }
}

svg {
  fill: currentColor;
}

main {
  margin: 0 auto;
  max-width: size(max);
}

section + section {
  margin-top: 48px;
  padding-top: 48px;
  border-top: 1px solid color(grey);
}

figure {
  position: relative;
  padding-bottom: 24px;
}

figcaption {
  font-size: 12px;
  color: color(medium-grey);
  text-align: right;
  max-width: 240px;
  position: absolute;
  right: 0;
}
