.o_button {
  padding: 8px 24px;
  background-color: lighten(color(lavender), 28%);
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 80%;
  transition: transform 0.1s ease-in-out;
  display: inline-block;

  svg {
    color: currentColor;
    max-height: 1rem;
    margin-top: -4px;
    margin-bottom: -2px;
  }

  &:hover {
    transform: translateY(-2px);
    svg {
      color: currentColor;
    }
  }
}
