@font-face {
  font-family: "ZillaSlab";
  src: url('/fonts/Zilla_Slab/ZillaSlab-Regular.woff') format('woff'),
       url('/fonts/Zilla_Slab/ZillaSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ZillaSlab";
  src: url('/fonts/Zilla_Slab/ZillaSlab-Bold.woff') format('woff'),
       url('/fonts/Zilla_Slab/ZillaSlab-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "ZillaSlab";
  src: url('/fonts/Zilla_Slab/ZillaSlab-Italic.woff') format('woff'),
       url('/fonts/Zilla_Slab/ZillaSlab-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "ZillaSlab";
  src: url('/fonts/Zilla_Slab/ZillaSlab-BoldItalic.woff') format('woff'),
       url('/fonts/Zilla_Slab/ZillaSlab-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "ZillaSlab";
  src: url('/fonts/Zilla_Slab/ZillaSlab-SemiBold.woff') format('woff'),
       url('/fonts/Zilla_Slab/ZillaSlab-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "ZillaSlab";
  src: url('/fonts/Zilla_Slab/ZillaSlab-SemiBoldItalic.woff') format('woff'),
       url('/fonts/Zilla_Slab/ZillaSlab-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: url('/fonts/Open_Sans/OpenSans-Regular.woff') format('woff'),
       url('/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url('/fonts/Open_Sans/OpenSans-Bold.woff') format('woff'),
       url('/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url('/fonts/Open_Sans/OpenSans-Italic.woff') format('woff'),
       url('/fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Inconsolata";
  src: url('/fonts/Inconsolata/Inconsolata-Regular.woff') format('woff'),
       url('/fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inconsolata";
  src: url('/fonts/Inconsolata/Inconsolata-Bold.woff') format('woff'),
       url('/fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
