.c_frame--header { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: size(max);
  margin: 0 auto 24px auto;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid color(light-grey);

  > a:first-child img {
    width: 50px;
  }

  nav a + a {
    margin-left: 8px;
  }
}

.c_frame--footer {
  background-color: color(darker-grey);
  color: color(white);

  > div {
    max-width: size(max);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    padding: 48px 0;
    font-size: 80%;

    svg {
      max-height: 16px;
      width: 50px;
      margin-right: 4px;
      color: color(white);
    }

    a:hover svg {
      color: darken(color(white), 15%);
    }

    nav {
      a {
        display: block;
        margin-bottom: 4px;
      }
    }

    > small {
      max-width: 128px;
    }

    a {
      color: lighten(color(lavender), 10%);
      &:hover {
        color: lighten(color(lavender), 20%);
      }
    }

    @include after-width(medium-small) {
      font-size: 90%;
    }
  }
}
