.c_grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap: 12px 12px;

  h3 {
    grid-column: 1 / 3;

    a {
      color: color(black);
      &:hover {
        color: color(dark-grey);
      }
    }
  }

  h4 {
    text-transform: uppercase;
    font-weight: 100;
  }

  > div {
    border-top: 1px solid color(grey);
    background-image: linear-gradient(color(grey), transparent), linear-gradient(color(grey), transparent);
    background-size: 1px 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat; 
    border-radius: 8px;
    margin-bottom: 12px;
    position: relative;
    padding: 12px;
  }
}

.c_grid--work {
  h4 {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    color: color(lavender);
  }
  svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    color: color(dark-grey);
    flex-shrink: 0;
  }

  @include after-width(medium-small) {
    h4 {
      letter-spacing: 0px;
      font-size: 16px;
    }
    svg {
      height: 36px;
      width: 36px;
    }
  }

  @include after-width(medium) {
    grid-template-columns: 33.3% 33.4% 33.3%;
    h3 {
      grid-column: 1 / 4;
    }
    svg {
      height: 42px;
      width: 42px;
    }
  }
}

.c_grid--portfolio {
  > div {
    text-align: center;
    padding: 0 0 48px 0;
    border-top: none;
  }

  h4 {
    font-size: 16px;
  }

  p {
    text-align: left;
    margin: 12px;
  }

  .o_button {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    transition: bottom 0.1s ease-in-out;

    &:hover {
      bottom: 14px;
    }
  }

  .c_grid--portfolio-img {
    height: 100px;
    overflow-y: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    position: relative;
    margin-bottom: 12px;

    svg {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .c_grid--portfolio-realtor .c_grid--portfolio-img {
    background-color: #32b9e6;
    svg {
      max-height: 180px;
    }
  }
  .c_grid--portfolio-smithers .c_grid--portfolio-img {
    background-color: lighten(#654495, 50%);
    svg {
      max-height: 90%;
      max-width: 95%;
    }
  }
  .c_grid--portfolio-heckle .c_grid--portfolio-img {
    background-color: #32a191;
    img {
      width: 90%;
      max-width: 300px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .c_grid--portfolio-activerecord-block-matchers .c_grid--portfolio-img {
    background-color: lighten(#e1616a, 30%);
    svg {
      max-height: 170px;
    }
  }
}

.c_grid--blog {
  h4 {
    margin-bottom: 0;
  }
  time {
    display: block;
    font-style: italic;
    margin-bottom: 16px;
    color: color(medium-grey);
  }

  > h4 + div:first-of-type {
    grid-column: 1 / 3;
  }
}
