.c_hero--frontpage {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 85vh;
  flex-wrap: wrap;

  > * {
    flex-basis: 100%;
    text-align: center;
    max-width: 400px;
  }

  img {
    border-radius: 50%;
    width: 240px;
    margin: 12px 0;
  }

  svg {
    max-height: 16px;
    max-width: 16px;
    margin: 0 2px;
    fill: currentColor;
    color: #333;
    transition: transform 0.1s ease-in-out;
  }

  a[title=Matrix] svg {
    max-width: 40px;
  }

  a:hover svg {
    transform: translateY(-4px);
  }

  p {
    margin-top: 24px;
  }
}
