.c_index {
  & + & {
    margin-top: 32px;
    padding-top: 32px;
  }

  article {
    h3 {
      margin-bottom: 4px;
    }
    time {
      display: block;
      font-style: italic;
      color: color(medium-grey);
      margin-bottom: 12px;
    }

    + article {
      margin-top: 32px;
    }
  }

  h6 {
    font-size: 24px;
    font-style: italic;
    color: color(medium-grey);
    margin: 0;
  }
}

.c_index--blog {
  display: grid;
  grid-gap: 12px 12px;

  @include after-width(small) {
    grid-template-columns: 60px auto;
    h6 {
      text-align: right;
    }
  }

  @include after-width(medium) {
    grid-template-columns: 100px auto;
    grid-gap: 12px 24px;

    h6 {
      font-size: 32px;
    }
  }
}

.c_index--pagination {
  margin-top: 24px;

  @include after-width(small) {
    margin-left: 72px;
  }
  @include after-width(medium) {
    margin-left: 124px;
  }

  a + a {
    margin-left: 4px;
  }
}

a.c_index--back {
  &, &:hover {
    color: color(black);
  }
}
.c_index--tag {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  padding-left: 20px;
  margin-left: 20px;
  border-left: 2px solid color(black);
}
