.c_post--banner {
  text-align: center;
  margin-bottom: 32px;

  svg, img {
    max-height: 40vh !important;
  }
}

.c_post {
  time {
    display: block;
    font-style: italic;
    margin-bottom: 16px;
    color: color(medium-grey);
  }

  h1 + time {
    margin-top: -16px;
  }
}

.c_post--footer {
  .o_tags {
    margin-bottom: 32px;
  }
}
