.c_projects {
  article {
    text-align: center;
  }

  img, svg {
    max-height: 120px;
    max-width: 180px;
  }

  article + article {
    margin-top: 48px;
    padding-top: 48px;
    border-top: 1px solid color(grey);
  }

  @include after-width(small) {
    img, svg {
      max-width: 100px;
    }

    article {
      display: grid;
      grid-template-columns: 100px auto;
      grid-template-rows: auto;
      grid-column-gap: 16px;
      padding-top: 24px;
      text-align: unset;
    }

    .c_projects--img {
      align-self: center;
      justify-self: center;
    }
  }

  @include after-width(medium) {
    img, svg {
      max-width: 160px;
    }

    article {
      grid-template-columns: 160px auto;
      grid-column-gap: 24px;
    }
  }
}

.c_project {
  .c_projects--img {
    @extend .o_banner;
    text-align: center;
    padding: 20px;

    img, svg {
      max-height: 200px;
    }
  }

  &.c_projects--realtor .c_projects--img {
    background-color: #32b9e6;
  }
  &.c_projects--smithers .c_projects--img {
    background-color: lighten(#654495, 50%);
  }
  &.c_projects--heckle .c_projects--img {
    background-color: #32a191;
  }
  &.c_projects--activerecord-block-matchers .c_projects--img {
    background-color: lighten(#e1616a, 30%);
  }

  .o_tags {
    margin-bottom: 36px;
  }

  @include after-width(medium) {
    > h1 {
      display: inline-block;
    }
    > h1 + a {
      display: inline-block;
      margin-top: 6px;
      float: right;
    }
    .o_tags {
      margin-top: 0;
    }
  }
}
