// Colors

$colors: (
  white: #FFF,
  black: #2d2d2d,
  darker-grey: lighten(#2d2d2d, 5%),
  dark-grey: lighten(#2d2d2d, 10%),
  medium-grey: lighten(#2d2d2d, 40%),
  grey: lighten(#2d2d2d, 70%),
  light-grey: lighten(#2d2d2d, 75%),
  lavender: #5D5DFF,
  red: #F2777A,
  yellow: #FFCC66,
  salmon: #F15E5E
);

@function color($name) {
  @if map-has-key($colors, $name) {
    @return map-get($colors, $name);
  }
  @warn "The key #{$name} is not in the map ’$colors’";
  @return null;
}


// Sizes
$sizes: (
  max: 1200px
);

@function size($name) {
  @if map-has-key($sizes, $name) {
    @return map-get($sizes, $name);
  }
  @warn "The key `#{$name}' is not in the map `$sizes’";
  @return null;
}


// Breakpoints

$breakpoints: (
  small: 320px,
  medium-small: 480px,
  medium: 600px,
  large: 768px
);

@mixin after-width($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $value: map-get($breakpoints, $breakpoint);

    @media screen and (min-width: $value) {
      @content;
    }
  } @else {
    @warn "The key `#{$breakpoint}' is not in the map `$breakpoints'";
  }
}
