.o_tags {
  list-style: none;
  padding: 0;

  li {
    display: inline;

    & + & {
      margin-left: 8px;
    }
  }

  a {
    @extend .o_button;
    font-size: 60%;
    padding: 6px 16px;
    background-color: transparent;
    border: 1px solid color(lavender);
  }
}
