---
title: About Me
description: Nathan Wallace is a software developer from St. Louis, MO.
---

<img src="/images/family.jpg" class="o_banner o_banner--family" />

<section>
  <h1>About me</h1>

  <p>
    I'm Nathan Wallace. I design, build, ship, and maintain software. I've
    been working with Second Generation since 2016. I graduated from
    Vanderbilt in 2011 with a BA in Neuroscience, but I discovered
    programming my junior year and knew immediately that's what I wanted
    to do. I got my first programming job in 2012, and I've been a web
    developer ever since.
  </p>

  <p>
    I live in St. Louis, MO with my wife, daughter, son, and dog.
    When I'm not working or playing with the kids, I love to cook, listen
    to music, and play chess (terribly).
  </p>
</section>

<section>
  <h2>My favorite tools</h2>

  <p>
    In case you're curious, these are the tools I use and a little about
    why I use them.
  </p>

  <h3>Development Environment</h3>

  <h4>Vim</h4>

  <p>
    Typing isn't the bottleneck, but using a hyper-efficient editor lets
    me spend less time editing and more time thinking.
  </p>

  <h4>Linux</h4>

  <p>
    As a developer and administrator of web apps running on Linux servers,
    Linux is practical. But more important than that, Linux is a free and
    open platform that enables people, no matter what their background or
    resources, to own, use, and create technology.
  </p>

  <h4>SwayWM</h4>

  <p>
    Efficient tooling allows me to spend less time fiddling around and
    more time focused. A custom-tailored tiling window manager is
    unbeatable.
  </p>

  <h4>Element</h4>

  <p>
    Encrypted text chat, embedded video and voice calling, open-source and
    decentralized. There's no better way to collaborate.
  </p>

  <h3>Languages</h3>

  <h4>Ruby</h4>

  <p>
    My first programming love. Ruby's dynamic nature makes it easy to
    implement elegant designs and iterate quickly.
  </p>

  <h4>Clojure</h4>

  <p>
    So beautiful. So simple. If it didn't run on the JVM, it would be
    perfect.
  </p>

  <h4>JavaScript</h4>

  <p>
    It's actually pretty nice if you just use functions, React, and LoDash
    and pretend the rest of the world doesn't exist.
  </p>
</section>

<!--
  ## Open source contributions

  * Luakit
  * PassFF
-->
