{{ define "main" }}
{{ with .Param "img" }}
<figure class="c_post--banner">
  {{ if findRE "\\.svg$" .url }}
  {{ readFile .url | safeHTML }}
  {{ else }}
  <img src="{{ .url }}" />
  {{ end }}
  {{ with .attribution }}
  <figcaption>
    {{ if .original_url }}
    <a href="{{ .original_url }}">{{ or .title "Image" }}</a>
    {{ else }}
    {{ or .title "Image" }}
    {{ end }}
    by
    {{ if .by_url }}
    <a href="{{ .by_url }}">{{ .by_name }}</a>,
    {{ else }}
    {{ .by_name }},
    {{ end }}
    used under <a href="{{ .license_url }}" rel="license">{{ .license_name }}</a>
    {{ if .modification }} / {{ .modification }}{{ end }}
  </figcaption>
  {{ end }}
</figure>
{{ end }}

<section class="c_post">
  <h1>{{ .Title }}</h1>
  <time>{{ .Date.Format "January 2, 2006" }}</time>

  {{ .Content }}
</section>

<section class="c_post--footer">
  <h4>Categories</h4>
  {{ partial "tags" (dict "context" . "taxonomy" "tags") }}

  <h4>Other posts</h4>
  <div class="c_grid c_grid--blog">
    {{ if .NextInSection }}
    {{ partial "cards/blog-entry" .NextInSection }}
    {{ end }}
    {{ if .PrevInSection }}
    {{ partial "cards/blog-entry" .PrevInSection }}
    {{ end }}
  </div>
</section>
{{ end }}
