<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if .Description }}
    <meta name="description" content="{{ .Description }}">
    <meta property="og:description" content="{{ .Description }}">
    <meta name="twitter:description" content="{{ .Description }}">
    {{ end }}
    {{ if .Params.tags }}
    <meta name="keywords" content="{{ delimit .Params.tags "," }}">
    {{ end }}
    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <title>{{ if .Params.title }}{{ .Params.title }} | {{ end }}{{ .Site.Title }}</title>
  </head>

  <body>
    <header class="c_frame--header">
      <a href="{{ relref . "/" }}">
        <img src="/images/logo.gif" />
      </a>
      <nav>
        <a href="{{ relref . "/about" }}">Me</a>
        <a href="{{ relref . "/projects" }}">Portfolio</a>
        <a href="{{ relref . "/blog" }}">Blog</a>
      </nav>
    </header>
    <main>
    {{ block "main" . }}
    {{ end }}
    </main>
    <footer class="c_frame--footer">
      <div>
        <nav>
          {{ range .Site.Params.contact_links }}
          <a href="{{ .link }}" title="{{ .name }}" target="_blank">{{ readFile .svg | safeHTML }} {{ .name }}</a>
          {{ end }}
        </nav>
        <nav>
          <a href="{{ relref . "/about" }}">About me</a>
          <a href="{{ relref . "/projects" }}">Portfolio</a>
          <a href="{{ relref . "/blog" }}">Blog</a>
        </nav>
        <small>
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
          </a><br/>
          Except where otherwise noted, this site is licensed under a
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        </small>
      </div>
    </footer>
  </body>
</html>
