{{ $paginator := .Paginate (.Pages.GroupByDate "2006") }}
{{ range $paginator.PageGroups }}
<section class="c_index c_index--blog">
  <h6>{{.Key}}</h6>
  <div>
    {{ range .Pages.ByDate.Reverse }}
    <article>
      <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      <time>{{ .Date.Format "January 2" }}</time>
      <p>{{ .Description }}</p>
      {{ partial "tags" (dict "context" . "taxonomy" "tags") }}
    </article>
    {{ end }}
  </div>
</section>
{{ end }}
{{ partial "pagination.html" . }}
