{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<nav class="c_index--pagination">
  {{ with $pag.First }}
  <a href="{{ .URL }}" {{ if not $pag.HasPrev }}class="s_is-disabled"{{ end }} aria-label="First">⇤</a>
  {{ end }}
  <a {{ if $pag.HasPrev }}href="{{ $pag.Prev.URL }}"{{ else }}class="s_is-disabled"{{ end }} aria-label="Previous">←</a>
  {{ $ellipsed := false }}
  {{ $shouldEllipse := false }}
  {{ range $pag.Pagers }}
  {{ $right := sub .TotalPages .PageNumber }}
  {{ $showNumber := or (le .PageNumber 3) (eq $right 0) }}
  {{ $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2)))  }}
  {{ if $showNumber }}
      {{ $ellipsed = false }}
      {{ $shouldEllipse = false }}
  {{ else }}
      {{ $shouldEllipse = not $ellipsed }}
      {{ $ellipsed = true }}
  {{ end }}
  {{ if $showNumber }}
  <a href="{{ .URL }}" {{ if eq . $pag }}class="s_is-disabled"{{ end }}>{{ .PageNumber }}</a>
  {{ else if $shouldEllipse }}
  <a class="s_is-disabled">&nbsp;&hellip;&nbsp;</a>
  {{ end }}
  {{ end }}
  <a {{ if $pag.HasNext }}href="{{ $pag.Next.URL }}"{{ else }}class="s_is-disabled"{{ end }} aria-label="Next">→</a>
  {{ with $pag.Last }}
  <a href="{{ .URL }}" {{ if not $pag.HasNext }}class="s_is-disabled"{{ end }} aria-label="Last">⇥</a>
  {{ end }}
</nav>
{{ end }}
