{{ range .Pages.ByParam "priority" }}
<article class="c_projects--{{ .File.TranslationBaseName }}">
  {{ partial "img-or-svg" . }}
  <div>
    <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
    <p>{{ .Description }} {{ .Param "elaboration" | safeHTML }}</p>
    <a href="{{ .RelPermalink }}" class="o_button">Learn more</a>
    {{ if .Param "repo" }}
    <a href="{{ .Param "repo" }}" class="o_button" target="_blank">Source code</a>
    {{ end }}
    {{ partial "tags" (dict "context" . "taxonomy" "categories") }}
  </div>
</article>
{{ end }}
