{{ $taxonomy := .taxonomy }}
{{ $context := .context }}
<ul class="o_tags">
  {{ range .context.Param $taxonomy }}
    {{ $name := . }}
    <li><a href="{{ relref $context (printf "/%s/%s" $taxonomy ($name | urlize)) }}">{{ $name }}</a></li>
  {{ end }}
</ul>
