{{ define "main" }}
<section class="c_hero--frontpage">
  <div>
    <img src="/images/portrait.jpg" />
    <h2>I'm Nathan Wallace. Software developer, armchair philosopher, badass MC.</h2>
    <nav>
      {{ range .Site.Params.contact_links }}
      <a href="{{ .link }}" title="{{ .name }}" target="_blank">{{ readFile .svg | safeHTML }}</a>
      {{ end }}
    </nav>
  </div>

  <div>
    <p>
      I'm a software developer currently working in Ruby and JavaScript
      for <a href="http://secondgen.com/" target="_blank">Second Generation</a>.
      I love cooking, music, science, and free software.
      <a href="{{ relref . "/about" }}">Learn more about me.</a>
    </p>
  </div>
</section>

<section class="c_grid c_grid--work">
  <h3>My Values</h3>

  <div>
    <h4>{{ readFile "static/images/icons/graph.svg" | safeHTML }} Data</h4>
    <p>Decisions should be driven by objective metrics and measures whenever possible.</p>
  </div>

  <div>
    <h4>{{ readFile "static/images/icons/bolt.svg" | safeHTML }} Lean Delivery</h4>
    <p>The sooner a feature is delivered, the sooner we can measure its efficacy.</p>
  </div>

  <div>
    <h4>{{ readFile "static/images/icons/cycle.svg" | safeHTML }} Iteration</h4>
    <p>Once we have data, use it! Refine, restructure, or even change tack altogether.</p>
  </div>

  <div>
    <h4>{{ readFile "static/images/icons/wand.svg" | safeHTML }} Usability</h4>
    <p>Whether designing a webpage or a low-level ABI, we should keep usability in mind at all times.</p>
  </div>

  <div>
    <h4>{{ readFile "static/images/icons/puzzle.svg" | safeHTML }} Extensibility</h4>
    <p>Software is never perfect or complete, so it's crucial to be able to change our program in response to new data, new ideas, or new circumstances.</p>
  </div>

  <div>
    <h4>{{ readFile "static/images/icons/speech.svg" | safeHTML }} Collaboration</h4>
    <p>Pair programming prevents bugs. Collaborative design illuminates blindspots. Two heads are better than one.</p>
  </div>
</section>


{{ with .Site.GetPage "/projects" }}
<section class="c_grid c_grid--portfolio">
  <h3><a href="{{ .RelPermalink }}">Portfolio</a></h3>

  {{ range .Pages.ByParam "priority" }}
  <div class="c_grid--portfolio-{{ .File.TranslationBaseName }}">
    <div class="c_grid--portfolio-img">
      {{ $logo := .Param "logo" }}
      {{ if findRE "\\.svg$" $logo }}
      {{ readFile $logo | safeHTML }}
      {{ else }}
      <img src="{{ $logo }}" />
      {{ end }}
    </div>
    <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
    <p>{{ .Description }}</p>
    <a href="{{ .RelPermalink }}" class="o_button">Learn more</a>
  </div>
  {{ end }}
</section>
{{ end }}

{{ with .Site.GetPage "/blog" }}
<section class="c_grid c_grid--blog">
  <h3><a href="{{ .RelPermalink }}">Blog</a></h3>

  {{ range .Pages.ByDate.Reverse.Limit 5 }}
  {{ partial "cards/blog-entry" . }}
  {{ end}}
</section>
{{ end }}

{{ .Content }}
{{ end }}
