{{ define "main" }}

<section class="c_projects">
  <h1>
    <a href="{{ (.GetPage "projects").RelPermalink }}" class="c_index--back">Projects</a><span class="c_index--tag">{{ .Title }}</span>
  </h1>
  {{ partial "projects-list.html" . }}
</section>
{{ end }}
