{{ define "main" }}
<h1>
  <a href="{{ (.GetPage "blog").RelPermalink }}" class="c_index--back">Blog</a><span class="c_index--tag">{{ .Title }}</span>
</h1>

{{ partial "blog-entries.html" . }}
{{ end }}
